body{

background:blue;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
flex-direction:column;
margin:0;
font-family:Arial;


background-size:cover;
background-position:center;
background-repeat:no-repeat;


}

#reloj{

font-size:77px;
font-weight:bold;

background-color: rgba(0,0,0,0.6);
padding:20px 40px;

border-radius:20px;

}

#fecha{

font-size:20px;

}